src/META-INF/wsdl/192.168.56.20_60100/FEServicio.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FEWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/FEWCFService"><xs:import schemaLocation="http://192.168.56.20:60100/FEServicio.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FEDominio"/><xs:complexType name="MensajeDocumentoElectronico"><xs:sequence><xs:element minOccurs="0" name="Cufe" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="DocumentoElectronico" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="MensajeDocumentoElectronico" nillable="true" type="tns:MensajeDocumentoElectronico"/><xs:complexType name="RespuestaMensaje"><xs:sequence><xs:element minOccurs="0" name="Respuesta" nillable="true" type="q1:RespuestaAutorizacion" xmlns:q1="http://schemas.datacontract.org/2004/07/FEDominio"/></xs:sequence></xs:complexType><xs:element name="RespuestaMensaje" nillable="true" type="tns:RespuestaMensaje"/></xs:schema>